* {
        box-sizing: border-box;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("background.jpg");
        background-size: 0vw, 212vh;
        background-repeat:no-repeat;
        background-position: center top;
        margin: 0px;
        padding: 0px;
        
}

form {
        text-align: center;
        overflow: hidden;

        margin: 16px;
}

input {
        height: 30px;
        padding: 8px;
        outline: none;
        border: 1px solid black;
        border-radius: 8px;
        background-color: white;
}

input[type = search] {
        width: 85%;
        max-width: 340px;
}

input[type = submit] {
        padding-top: 6px;
        padding-bottom: 16px;
}

.weather-card {
        position: fixed;
        inset: 0;
        backdrop-filter: blur(14px) saturate(161%);
        -webkit-backdrop-filter: blur(14px) saturate(161%);
        background-color: rgba(242, 0, 255, 0.5);
        width: 250px;
        height: 250px;
        margin: auto;
        border-radius: 12px;
        text-align: center;
        padding: 30px;
}

h1, h2 {
        color: rgb(255, 255, 255);
}

h1 {
        font-size: 4rem;
        margin: 16px 0px;
}

h2 {
        margin: 0;
}